<nav style="display: flex">
    <figure>
        <picture>
            <img src="/templates/default/logo.svg" alt="Company Logo" style="max-height: 100px; max-width: 200px"/>
        </picture>
        <figcaption>Company Name</figcaption>
    </figure>
    <label for="test" style="margin-left: auto;">&#128270;</label>
    <input name="test" type="search" placeholder="Search for filenames, settings etc." style="margin-right: auto; max-height: 2rem;"/>
    <ul>
        <li>Some Page</li>
    </ul>
</nav>

@code {

}
